In [263]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [265]:
df = pd.read_csv('college_placement_dataset_final.csv')
df

,CGPA,Internship,Paid_Internship,Projects,Workshop_Certification,Aptitude_Score,Skills_Rating,Placement_Training,SSC_Marks,Gender,Placement_Status
0,8.19,0,0,4,6,74.72,6.55,Not Attended,83.94,Male,Placed
1,7.17,0,0,3,8,68.51,6.79,Attended,67.28,Male,Placed
2,9.02,1,0,5,7,85.67,7.79,Attended,60.86,Male,Placed
3,8.44,1,0,4,7,55.29,6.47,Attended,76.20,Female,Placed
4,8.63,1,0,5,8,70.58,7.54,Attended,95.00,Female,Placed
...,...,...,...,...,...,...,...,...,...,...,...
4995,7.25,1,1,5,7,55.67,10.00,Attended,78.38,Male,Placed
4996,6.11,1,0,5,6,60.08,6.22,Not Attended,65.86,Female,Placed
4997,6.00,0,0,4,8,91.99,8.31,Attended,70.50,Male,Placed
4998,8.39,0,0,4,7,75.70,9.18,Attended,60.00,Male,Placed
4999,8.27,1,0,5,6,70.52,5.42,Attended,60.00,Female,Placed

In [267]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CGPA                    5000 non-null   float64
 1   Internship              5000 non-null   int64
 2   Paid_Internship         5000 non-null   int64
 3   Projects                5000 non-null   int64
 4   Workshop_Certification  5000 non-null   int64
 5   Aptitude_Score          5000 non-null   float64
 6   Skills_Rating           5000 non-null   float64
 7   Placement_Training      5000 non-null   object
 8   SSC_Marks               5000 non-null   float64
 9   Gender                  5000 non-null   object
 10  Placement_Status        5000 non-null   object
dtypes: float64(4), int64(4), object(3)
memory usage: 429.8+ KB

In [269]:
df.describe()

,CGPA,Internship,Paid_Internship,Projects,Workshop_Certification,Aptitude_Score,Skills_Rating,SSC_Marks
count,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,7.760374,0.430000,0.10000,3.227600,4.887200,65.82129,6.574288,74.244382
std,0.968259,0.570232,0.30003,1.370903,2.504901,16.57097,1.492752,8.982829
min,6.000000,0.000000,0.00000,1.000000,0.000000,0.00000,1.000000,60.000000
25%,7.050000,0.000000,0.00000,2.000000,3.000000,55.06000,5.590000,67.415000
50%,7.770000,0.000000,0.00000,3.000000,6.000000,66.14500,6.650000,74.105000
75%,8.470000,1.000000,0.00000,4.000000,7.000000,77.03250,7.590000,80.392500
max,10.000000,2.000000,1.00000,5.000000,8.000000,100.00000,10.000000,95.000000

In [271]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(drop='first', sparse_output=False)

from sklearn.preprocessing import StandardScaler
scale = StandardScaler()

from sklearn.pipeline import Pipeline

In [273]:
from sklearn.compose import  ColumnTransformer
preprocessor = ColumnTransformer([
    ('ohe', ohe, ['Placement_Training', 'Gender', 'Placement_Status']),
    ('scale', scale, ['CGPA','Internship','Paid_Internship','Projects','Workshop_Certification','Aptitude_Score','Skills_Rating','SSC_Marks'])
    
], remainder='passthrough')

main_preprocessing_pipeline = Pipeline(['preprocessor', preprocessor])

In [275]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(max_depth=5)

In [277]:
x = df.drop(columns=['Placement_Status'])
y = df['Placement_Status']

In [279]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.2, random_state=42)

from sklearn.metrics import accuracy_score

In [281]:
x_train_trf = main_preprocessing_pipeline.fit_transform(x_train, y_train)
x_test_trf = main_preprocessing_pipeline.transform(x_test)

AttributeError: This 'Pipeline' has no attribute 'fit_transform'